@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Stratton Oakmont<br />
    Marcus Avenue<br />
    <abbr title="Phone">666.6666 ask for wolf the man</abbr>    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@lost.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@great.com</a>
</address>